.home-hero {
    height: 50vh;
    display: flex;
    align-items: center;
    // margin: 10px;
    font-size: 7rem;
    font-weight: 800;
    background: rgb(47, 109, 131);
}
.timeline {
    display: flex;
}